.management-preview {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.management-preview-options-container {
    display: flex;
    justify-content: center;
    width: 70%;
    /* background-color: springgreen; */
}

.management-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border: 1px solid black;
    /* background-color: lemonchiffon; */
}

.management-preview-tag {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: paleturquoise;
}

.management-preview-title {
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    margin: 15px;
}

.management-preview-option-container {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(199, 191, 191);
}

.management-preview-option {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.management-preview-option:hover {
    color: white;
    background-color: black;
    transition: all 300ms ease-in-out;
    transform: scale(1.2);
}