.management-preview {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 25px;
    background-color:floralwhite
}
 
.management-preview-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(87, 89, 196); */
}

.management-preview-link {
    width: 100%;
}

.management-preview-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    background-color: lemonchiffon;
}
 
.management-preview-tag {
    display: flex;
    justify-content: center;
    width: 80%;
    /* background-color: paleturquoise; */
}

.management-preview-title {
    font-family: 'Dosis', sans-serif;
    font-size: 55px;
    margin: 15px;
}

.management-preview-description {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    margin: 15px;
}

.management-preview-date {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    margin: 15px;
}

.management-preview-edit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.management-preview-edit {
    width: 105px;
    height: 35px;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.management-preview-edit:hover {
    transition: all 200ms ease-in-out;
    transform: scale(1.05);
} 