/* Article Header Styling */

.article-header {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: auto;
}

.article-title-container {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 150%;
}

.author-info-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 20rem;
    border: 2px solid black;
}

.author-pic-container {
    /* padding: 10px;
    width: 40%; */
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-color: cornflowerblue;
}

.author-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-color: cornflowerblue;
}

#author-username {
    font-family: 'Dosis', sans-serif;
    font-size: 27px;
    font-weight: 600;
}

.following-status {
    display : flex;
    flex-direction : column;
    justify-content : center;
    width : 120px;
    height : 40px;
    text-decoration : underline;
    font-size : 25px;
    font-weight : 400;
    font-family: 'Dosis', sans-serif;
}

#follow-btn {
    margin: 20px;
} 


/* Article content Styling */

.seperator-span {
    font-weight: 800;
}

.article-extra {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.article-container {
    display: flex;
    justify-content: center;
    font-family: times,serif;
    line-height: 1.5;
    font-size: 1.25rem;
    color: rgba(0,0,0,.7);
    line-height: 30px;
    margin: 10px 0px;
}

.article-content {
    width: 50%;
} 

/* Author footer styling */

.author-container {
    display: flex;
    justify-content: center;
}

.author-pic {
    display: flex;
    align-items: center;
}

.author-footer-details {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 30%;
}

.author-details-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
}

#written {
    font-size: 1.5rem;
    padding: 20px;
}


.author-details-container {
    display: flex;
    align-items: center;
}

/* .author-details-container {
    background-color: cornflowerblue;
} */

/*   COMMENT   */

.article-comment {
    padding: 10px;
    margin: 10px;
}

#comment {
    font-family: 'Martel Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.article-comment-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.article-comment-generator-container {
    width: 50%;
}

#article-comment-generator-text {
    width: 100%;
    height: 120px;
}

.article-comment-generator-submit {
    display: flex;
    justify-content : flex-end;
    padding: 10px;
}

.post-button{
    width: 90px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    cursor: pointer;
}

.post-button:hover {
    transition: 0.2s ease-in-out;
    background-color: black;
    color: white;
    transform: scale(1.1);
} 