/* Article Header Styling */

.article-header {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 99%;
    height: auto;
    /* background-color: tomato; */
}

.article-title-container {
    font-family: 'Dosis', sans-serif;
    /* border: 1px solid black; */
    font-weight: 700;
    font-size: 150%;
}

.author-info-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 35%;
    /* justify-content: space-between;
    align-self: center; */
    border: 1px solid black;
    background-color: rgba(212, 202, 200, 0.623);
}

.author-pic-container {
    /* border: 1px solid black; */
    padding: 10px;
    width: 40%;
    /* background-color: rgba(212, 202, 200, 0.623); */
}

#author-username {
    font-family: 'Dosis', sans-serif;
    font-size: 27px;
    font-weight: 600;
}

/* #author-img {
    width: 120px;
    border-radius: 50%;
    border: 2px solid black;
} */

.author-img {
    border-radius: 50%;
}

#following-status {
    font-family: 'Dosis', sans-serif;
}

/* Article content Styling */

.seperator-span {
    /* margin: 10px; */
    font-weight: 800;
    /* background-color: coral; */
}

.article-extra {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.article-container {
    display: flex;
    justify-content: center;
    line-height: 30px;
    margin: 10px 0px;
    /* background-color: violet; */
}

.article-content {
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
}

/* Author footer styling */

.author-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.author-footer-details {
    border: 1px solid black;
    width: 40%;
}

.author-details-header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.author-details-bio-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
}

#written {
    padding: 20px;
}

#comment-title {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 900;
    font-size:300px;
}

/* 
.author-details-bio {
    border: 1px solid black
} */

#follow-btn {
    margin: 20px;
}

.author-bio-container {
    border: 1px solid black;
    color: rgba(117, 117, 117, 1);
}