.author-list {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 5%;
    max-height: 3%;
    background-color: aquamarine;
}

.author-list-name {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
}

.author-list-name:hover {
    transition: 200ms ease-in-out;
    transform: scale(1.05);
} 