/*  HEADER */

.feed-header {      /*   The Section of the viewport dedeicate for the header   */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    min-height: 100px;
    overflow: hidden;
}

.feed-header-container {    /* The container inside the dection that contains all the content */
    border: 1px solid black;
    margin: 15px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: paleturquoise; */
}

.feed-header-pic {
    border: 1px solid black;
    /* padding: 10px;     */
}

.feed-header-info {
    border: 1px solid black; 
    min-width: 400px;
    overflow: hidden;   
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow;   */
}

.feed-header-info-container {
    border: 1px solid black;  
    display: flex;
    flex-direction: row;
    /* min-width: 200px; */
    width: 80%;
    height: 50%;
    padding: 10px;
    justify-content: space-between;
    align-items:flex-end;
    /* background-color: teal; */
}

#pic {
    border: 2px solid black;
    border-radius: 50%;
    width: 30%;
    margin: 10px;
}

#name {
    font-size: 48px;
    font-family: 'Martel Sans', sans-serif;
    border: 1px solid black;
}

#followers {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    margin: 10px;
    /* background-color: tomato; */
}

/* FEED ARTICLES */

.feed-articles {
    display: flex;
    justify-content: center;
}

.feed-articles-container {
    display: flex;
    flex-direction: column;
}