/*  HEADER */

.feed {
    background-color: coral;
}

.feed-header {      /*   The Section of the viewport dedeicate for the header   */
    font-family: 'Dosis', sans-serif;
    font-size: 2.5rem;
    border-bottom: 2px solid black;
}

.feed-content-search {
    display: flex;
    flex-direction: column;
    padding : 2%;
    background-color: lightskyblue;
}

.feed-content-search-header {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    text-decoration: underline;
    /* background-color: lightpink; */
}

.feed-content-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
}

.feed-content-list-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 2%;
    /* background-color: lightblue; */
}

.feed-content-list-header {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    text-decoration: underline;
    /* background-color: lightpink; */
}

.feed-content-AZList {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 2%;
    border : 2px solid black;
    background-color: lightseagreen;
}

.feed-content-list-option2 {
    display: flex;
    justify-content: center;
    padding : 2rem;
    background-color: lightgreen;
}