.user-edit-title {
    font-family: 'Dosis', sans-serif;
    font-size: 3.5rem;
}

.user-edit {
    width: 100%;
    border-top: 1px solid black;
    padding-top: 3rem;
    /* background-color: burlywood; */
}

.user-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-edit-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 2rem;
    color: rgba(0, 0, 0, .8);
    width: 50rem;
    border: 1px solid black;
}

.user-edit-content {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

.user-edit-label {
    display: flex;
    box-sizing: border-box;
    color: #000;
    font-weight: 300;
    max-width: 10rem;
    font-size: 1.15rem;
    padding: 0px 15px;
    margin-bottom: .5rem;
}

.user-edit-input {
    display: block;
    width: 100%;
    max-width: 45em;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-left: 10px;
    margin-bottom: 0.5rem;
    border : 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

.user-edit-publish {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    margin: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: white;
    cursor: pointer;
}

.user-edit-publish:hover {
    transition: 0.2s ease-in-out;
    background-color: black;
    color: white;
    transform: scale(1.1);
}